:root{
    --gold : #FFC000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

body{
    height: 100vh;
    width: 100vw;
    color: #fff;
}

.main-container{
    height: 100%;
    width: 100%;
    background-color: #000;
}

/* BANNER SECTION START */

.main-container .banner-section{
    width: 100%;
    height: 100%;
    background: url('./images/bg-cover.jpg') no-repeat;
    background-size: cover;
}

.main-container .banner-section:after { 
    content: ""; 
    display: block;
    position: absolute;  
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000 140%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
} 

.main-container .banner-section .header{
    position: relative;
    top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.main-container .banner-section .header img{
    height: 70px;
    width: 70px;
    margin-left: 50px;
}

.main-container .banner-section .header .nav{
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.main-container .banner-section .header .nav li{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--gold);
}

.main-container .banner-section .banner-contents{
    position: relative;
    height: 100%;
    width: 25%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

.main-container .banner-section .banner-contents .banner-heading{
    font-size: 50px;
    font-weight: 600;
}

.main-container .banner-section .banner-contents .banner-paragraph{
    font-size: 18px;
    line-height: 1.5;
}

.main-container .banner-section .banner-contents .btn-container{
    position: relative;   
}

.main-container .banner-section .banner-contents .btn-container button{
    padding: 15px 50px;
    border-radius: 50px;
    background: var(--gold);
}

.main-container .banner-section .banner-contents .btn-container button span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

/* BANNER SECTION END */

/* CHEF SECTION START */

.main-container .chef-section{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: black;
}

.main-container .chef-contents{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container .chef-contents h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-container .chef-contents p{
    font-size: 18px;
    width: 40%;
    line-height: 1.5;
    text-align: center;
}

.main-container .chef-section .chef-listing{
    display: flex;
    width: 100%;    
    justify-content: space-around;
    align-items: center;
}

.main-container .chef-section .chef-listing .chef-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-container .chef-section .chef-listing .chef-container img{
    border-radius: 150px;
    height: 250px;
    width: auto;
}

.main-container .chef-section .chef-listing .chef-container .chef-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* CHEF SECTION END */


.main-container .burger-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: black;    
    /* background: url('./images/pizza.jpg') no-repeat; */
    /* background-size: cover; */
    /* opacity: 0.65; */
    justify-content: center;
}

.main-container .burger-section .burger-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .burger-section .burger-container.reverse{
    flex-direction: row-reverse;
}

.main-container .burger-section .burger-container img{
    border-radius: 150px;
    height: 250px;
}

.main-container .burger-section .burger-container .burger-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 50%;
}

.main-container .burger-section .burger-container .burger-contents h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase
}

.main-container .burger-section .burger-container .burger-contents p{
    font-size: 18px;
    line-height: 1.5;
}

.main-container .burger-section .burger-container .btn-container button{
    padding: 15px 30px;
    border-radius: 50px;
}

.main-container .burger-section .burger-container .btn-container button span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}