:root{
    --gold : yellow;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

body{
    height: 100vh;
    width: 100vw;
    color: #fff;
    background-color: #000
}

.main-container{
    height: 100%;
    width: 100%;
    background-color: #000;
}

.btn-container button{
    padding: 15px 30px;
    border-radius: 50px;
    background: var(--gold);
}

.btn-container button span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

/* BANNER SECTION START */

.main-container .banner-section{
    width: 100%;
    height: 100%;
    background: url('./images/bg-cover.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container .banner-section:after { 
    content: ""; 
    display: block;
    position: absolute;  
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000 140%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
} 

.main-container .banner-section .bars{
    display: none;
}

.main-container .banner-section .header{
    position: relative;
    top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.main-container .banner-section .header img{
    height: 70px;
    width: 70px;
    margin-left: 50px;
}

.main-container .banner-section .header .nav{
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.main-container .banner-section .header .nav li{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--gold);
}

.main-container .banner-section .banner-contents{
    position: relative;
    height: 100%;
    width: 25%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

.main-container .banner-section .banner-contents .banner-heading{
    font-size: 50px;
    font-weight: 600;
}

.main-container .banner-section .banner-contents .banner-paragraph{
    font-size: 18px;
    line-height: 1.5;
}

.main-container .banner-section .banner-contents .btn-container{
    position: relative;   
}

.main-container .banner-section .banner-contents .btn-container button{
    padding: 15px 50px;
    border-radius: 50px;
    background: var(--gold);
}

.main-container .banner-section .banner-contents .btn-container button span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

/* BANNER SECTION END */

/* CHEF SECTION START */

.main-container .chef-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: black;
}

.main-container .chef-contents{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container .chef-contents h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-container .chef-contents p{
    font-size: 18px;
    width: 40%;
    line-height: 1.5;
    text-align: center;
}

.main-container .chef-section .chef-listing{
    display: flex;
    width: 100%;    
    justify-content: space-around;
    align-items: center;
}

.main-container .chef-section .chef-listing .chef-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-container .chef-section .chef-listing .chef-container img{
    border-radius: 150px;
    height: 250px;
    width: auto;
}

.main-container .chef-section .chef-listing .chef-container .chef-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-container .chef-section .chef-listing .chef-container .chef-details .star-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.main-container .chef-section .chef-listing .chef-container .chef-details .star-container img{
    height: 20px;
    width: 20px;
}

/* CHEF SECTION END */

/* BURGER SECTION START */

.main-container .burger-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: black;    
    background: url('./images/burger-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.95;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 80px;
}

.main-container .burger-section.pizza{
    background: url('./images/pizza.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container .burger-section.chicken-65{
    background: url('./images/chichen-65-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container .burger-section .burger-container{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    background: #000000c4;
    padding: 70px;
    border-radius: 20px;
    border: 2px solid #fff;
}

.main-container .burger-section .burger-container.reverse{
    flex-direction: row-reverse;
}

.main-container .burger-section .burger-container img{
    border-radius: 150px;
    height: 250px;
}

.main-container .burger-section .burger-container .burger-contents{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.main-container .burger-section .burger-container .burger-contents h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase
}

.main-container .burger-section .burger-container .burger-contents p{
    font-size: 18px;
    line-height: 1.5;
}

.main-container .burger-section .burger-container .btn-container button{
    padding: 15px 30px;
    border-radius: 50px;
}

.main-container .burger-section .burger-container .btn-container button span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

/* BURGER SECTION END */

/* STATISTICS SECTION START */
.main-container .statistics-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #000;
}

.main-container .statistics-section .statistics-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .statistics-section .statistics-container .statistics-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-container .statistics-section .statistics-container .statistics-contents h2{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-container .statistics-section .statistics-container .statistics-contents p{
    font-size: 18px;
    line-height: 1.5;
    width: 50%;
    text-align: center;
}

.main-container .statistics-section .statistics-container .statistics-count{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
}

.main-container .statistics-section .statistics-container .statistics-count .statistics-circle{
    border: 2px solid #fff;
    height: 250px;
    width: 250px;
    padding: 80px;
    border-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.popular-package-section{   
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #000;
    gap: 20px;
    padding-top: 20px;
}


.popular-package-section .package-listing{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popular-package-section .package-listing .package-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    margin: 40px;
    padding: 40px;
    border: 2px solid gold;
    border-radius: 20px;
}

.popular-package-section .package-listing .package-container h3{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;    
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

.popular-package-section .package-listing .package-container img{
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.popular-package-section .package-listing .package-container .package-content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular-package-section .package-listing .package-container .package-content h4{
    font-size: 24px;
    font-weight: 800;
}

/* STATISTICS SECTION END */

/* UPDATE SECTION STYLE START */

.main-container .update-section{
    height: 50%;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-container .update-section .update-content{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    gap: 20px;
}

.main-container .update-section .input-update{
    width: 50%;
}

.main-container .update-section .update-content h1{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.main-container .update-section .update-content p{
    width: 70%;
    font-size: 18px;
}

.main-container .update-section .input-update input{
    height: 40px;
    width: 80%;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
}

.main-container .update-section .input-update .update-btn{
    height: 40px;
    width: 100px;
    background: yellow;
    border-radius: 0px 20px 20px 0px;
    /* border: unset; */
    position: relative;
    right: 10px;
}
/* UPDATE SECTION STYLE END */

/* FOOTER SECTION STYLE START */

.main-container .footer-section{
    height: 50%;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
}

.main-container .footer-section h2{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-container .footer-section .footer-content{
    display: flex;
    gap: 30px;
    margin: 0px 50px;
}

.main-container .footer-section .footer-content li{
    line-height: 2.2;
    font-size: 18px;
}

.main-container .footer-section .main-content p{
    width: 80%;
    line-height:1.4;
    font-size: 18px;
}

.main-container .footer-section .footer-content .main-content{
    width: 40%;
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
}

.main-container .footer-section .footer-content .about{
    width: 20%;
}

.main-container .footer-section .footer-content .services{
    width: 20%;
}

.main-container .footer-section .footer-content .other{
    width: 20%;
}
/* FOOTER SECTION STYLE END */


/* MEDIA QUERY START*/

@media only screen and (min-width:280px) and (max-width:319px){
    /* / smartphones, iPhone, portrait 480x320 phones /  */

}

@media only screen and (min-width:320px) and (max-width:480px){
/* / smartphones, iPhone, portrait 480x320 phones /  */

.main-container .banner-section .banner-contents {
    width: 80%;
}

.main-container .banner-section .banner-contents .banner-heading {
    font-size: 30px;
    font-weight: 300;
}

.main-container .banner-section .header img {
    margin-left: 20px;
}

.main-container .banner-section .header .nav {
    display: none;
}

.main-container .banner-section .bars{
    display: block;
    height: 50px !important;
    width: 50px !important;
    margin-right: 20px;
}

.main-container .banner-section .banner-contents .btn-container button span {
    font-size: 15px;
}

.main-container .burger-section .burger-container .btn-container button span{
    font-size: 15px;
}


.main-container .burger-section {
    padding: 80px 0px;
}

.main-container .burger-section .burger-container {
    /* width: 100%; */
    padding: 0;
    display: block;
}

.main-container .burger-section .burger-container img {
    height: 90px;
    width: 90px;
    object-fit: contain;
    position: relative;
    top: 20px;
    left: 10px;
}

.main-container .burger-section .burger-container .burger-contents {
   position: relative;
   top: -50px;
   left: 20px;
   gap: 10px;
   width: 90%;
}

.main-container .burger-section .burger-container .burger-contents h2{
    width: 50%;
    text-align: end;
    margin-left: 100px;
}

.main-container .burger-section .burger-container .burger-contents p {
    height: 120px;
    overflow: scroll;
}

.main-container .burger-section.pizza .burger-container img {
    height: 75px;
    width: 100px;
    object-fit: contain;
}


.main-container .burger-section.chicken-65 .burger-container img {
    height: 75px;
    width: 100px;
    object-fit: contain;
}

.main-container .update-section {
    height: auto;
    margin: 40px 0px 20px;
}

.main-container .update-section .update-content {
    width: 100%;
}

.main-container .update-section .input-update{
    width: 70%;
} 

.main-container .update-section .input-update input {
    width: 60%;
}

.main-container .footer-section{
    height: auto;
    padding: 80px 0px 0px;
}

.main-container .footer-section .footer-content {
    flex-direction: column;
}

.main-container .footer-section .main-content p {
    width: 100%;
}

.main-container .footer-section .footer-content div{
    width: 100% !important;
}
}

@media only screen and (min-width:481px) and (max-width:640px){
/* / portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. /  */

}

@media only screen and (min-width:1281px) and (max-width:1399px){
/* / DESKTOP VIEW / */
}

@media (max-width: 1510px) and (min-width: 1200px){

}

@media (max-width: 1710px) and (min-width: 1510px){

}


/* MEDIA QUERY END */